/* Position */ 


header{
    background-color: #025940;
    color: #F2D1C9;
    display: felx; 
    flex-flow: row wrap;
    
}


.wrapper{
   display:flex; 
   align-content: center; 
   justify-content: space-between;
   flex-wrap: wrap;
   padding: 15px;
   margin-left:auto;
   margin-right:auto;


}


.main_body{
	max-width: 960px;
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: flex-start;
	margin: 0 auto;


}







/* Pic Edit */ 

img{
	height:150px;
	width:150px;
}



.red_pic{
	height:300px;
	width: 300px;
	max-width: 940px;
	border:solid 1px red;
	border-radius: 4px;
}

.image_cap{
	min-width: 66%;
	min-height: 66%;
}







/* Fonts */ 
.header_title{
	font-family: 'Sansita Swashed', cursive;
	font-size: 56px;
}	

.wrapper > p {
	font-family: 'Piazzolla', serif;
}

li {
	font-family: 'Piazzolla', serif;
}

h2{
	font-family: 'Secular One', sans-serif;
	text-decoration: underline;
}