header{
    background-color: #025940;
    color: #F2D1C9;
    display: felx; 
    flex-flow: row wrap;
    
}


.wrapper{
   display:flex; 
   align-content: center; 
   justify-content: space-between;
   flex-wrap: wrap;

}



img{
	height:100px;
	width:100px;
}