/* Position */ 


header{
    background-color: #D9556D;
    color: #F2D1C9;
    display: felx; 
    flex-flow: row wrap;
    
}


.wrapper{
   display:flex; 
   align-content: center; 
   justify-content: space-between;
   flex-wrap: wrap;
   padding: 15px;
   margin-left:auto;
   margin-right:auto;


}


.main_body{
	max-width: 960px;
	display: flex;
	align-items: center;
	justify-content: center;
	align-content: flex-start;
	margin: 0 auto;
	margin-top: 20px;

}


.image{
   display:flex; 
   align-content: center; 
   justify-content: space-between;
   flex-wrap: wrap;
   padding: 15px;
   margin-left:auto;
   margin-right:auto;
}


.info{
   display:flex; 
   align-content: center; 
   justify-content: space-between;
   flex-wrap: wrap;
   padding: 15px;
   margin-left:auto;
   margin-right:auto;

}

.cap {
   display:flex; 
   align-content: center; 
   justify-content: space-between;
   flex-wrap: wrap;
   padding: 15px;
   margin-top: 20px;
   margin-left:auto;
   margin-right:auto;
}




/* Pic Edit */ 

img{
	height:150px;
	width:150px;
}



.red_pic{
	height:300px;
	width: 300px;
	max-width: 940px;
	border:solid 1px red;
	border-radius: 4px;
}

.image_cap{
	min-width: 66%;
	min-height: 66%;
}







/* Fonts */ 
body{
	color:black;
}
.header_title{
	font-family: 'Sansita Swashed', cursive;
	font-size: 56px;
}	

p {
	font-family: 'Piazzolla', serif;
}

li {
	font-family: 'Piazzolla', serif;
}

h2{
	font-family: 'Secular One', sans-serif;
	text-decoration: underline;
}


a:link{
	color:white;
}

a:visited{
	color:white;
}

a:hover{
	color:pink;
}



/* Style */ 

body{
	background-color: #A66151;
}


.info{
	background-color: #D99379;
}

.cap{
	background-color: #D99379;
}




/* Screen Size */ 

@media (max-width: 1000px){

	.main_body{
		display: flex;
		align-items:center;
		flex-flow:row wrap;
	}

	.cap{
		margin-top: auto;
		margin-bottom: auto;
		margin-left: 40px;
		height:50px;
	}


	.red_pic{
		margin-top: auto;
		margin-bottom: auto;
		margin-right: auto;
		margin-left: auto;
	}
}